<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="spit.matrix2017">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        
        <provider
        android:name=".HelperClasses.MatrixContentProvider"
        android:authorities="spit.matrix2017.provider"
        android:enabled="true"
        android:exported="false" />
        
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.EventDetails"
            android:label="@string/title_activity_event_details"
            android:parentActivityName=".Activities.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="spit.matrix2017.Activities.MainActivity" />
        </activity>

        <activity android:name=".Activities.Sponsors"
            android:parentActivityName=".Activities.MainActivity"/>

        <activity android:name=".Activities.Favorites"
            android:parentActivityName=".Activities.MainActivity"/>

        <activity android:name=".Activities.Committee"
            android:parentActivityName=".Activities.MainActivity"/>

        <activity android:name=".Activities.Developers"
            android:parentActivityName=".Activities.MainActivity"/>

        <activity android:name=".Activities.ContactUs"
            android:parentActivityName=".Activities.MainActivity"/>

    </application>

</manifest>
